/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

*{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

.small-container{
    margin: 0 auto;
    max-width: 800px;
}

h1{
    font-size: 3.5em;
}

p{
    font-size: small;
}

button{
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blue-button{
    color: white;
    background-color: #0061FF;
}

/* 
HEADER
*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div > img, span, .blue-button{
    padding: 5px 10px;
}

header img{
    width: 30%;
}

header img, span{
    vertical-align: middle;
}

header .blue-button{
    margin-right: 10px;
}
header a{
    font-size: small;
    text-decoration: none;
    color: #3C3C3C;
}


/* 
MAIN
*/



main > section:first-child{
    background-color: #B4D0E7;
}
.blue-background{
    background-color: #B4D0E7;
}

.questions, .blue-background{
    padding-top: 50px;
    padding-bottom: 50px;
}
.my-row{
    display: flex;
}

.small-column{
    width: 30%;
}

.big-column{
    width: 50%;
}
.big-column, .small-column{
    margin-top: 40px;
    margin-bottom: 40px;
}

.plane-business{
    padding-top: 80px;
}
.price-row{
    display: flex;
    justify-content: space-between;
}

.price-column{
    width: 30%;
}

.team-box{
    margin-top: 30px;
    margin-bottom: 40px;
}

.operation-section, .discover{
    padding-top: 20px;
    padding-bottom: 50px;
}

.operation{
    flex-wrap: wrap;
}

.six-column{
    width: calc(100% / 3);
}

.square-column{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.logo-box{
    width: calc(100% / 2);
}



/* 
FOOTER
*/

.column-list{
    width: calc(100% / 5);
}




/* 
DEBUG
*/

/* .debug header{
    background-color: aquamarine;
} */

.debug main > div{
    border: 2px dashed red;
}

.debug main div > section{
    border: 2px dashed green;
}

.debug footer{
    background-color: lightgreen;
}

.debug .small-column{
    background-color: blueviolet;
    min-height: 300px;
}

.debug .big-column{
    background-color: palevioletred;
    min-height: 300px;
}

.debug .price-column{
    background-color: aquamarine;
    border: 2px solid black;
    min-height: 700px;
}

.debug .team-box{
    background-color: cadetblue;
    min-height: 200px;
}

.debug .six-column{
    background-color: lightseagreen;
    border: 1px solid black;
    min-height: 250px;
}

.debug .square-column{
    background-color: lightgrey;
}

.debug .logo-box{
    background-color: brown;
}