/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

*{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

.small-container{
    margin: 0 auto;
    max-width: 800px;
}

/* 
HEADER
*/

header{
    display: flex;
    justify-content: space-between;
}





/* 
MAIN
*/

.my-row{
    display: flex;
}

.small-column{
    width: 30%;
}

.big-column{
    width: 50%;
}

.price-row{
    display: flex;
    justify-content: space-between;
}

.price-column{
    width: 30%;
}

/* 
FOOTER
*/






/* 
DEBUG
*/

.debug header{
    background-color: aquamarine;
}

.debug main > div{
    border: 2px dashed red;
}

.debug main div > section{
    border: 2px dashed green;
}

.debug footer{
    background-color: lightgreen;
}

.debug .small-column{
    background-color: blueviolet;
    min-height: 250px;
}

.debug .big-column{
    background-color: palevioletred;
    min-height: 250px;
}

.debug .price-column{
    background-color: aquamarine;
    border: 2px solid black;
    min-height: 700px;
}

.debug .team-box{
    background-color: cadetblue;
    min-height: 200px;
}