/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

*{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

.small-container{
    margin: 0 auto;
    max-width: 800px;
}

/* 
HEADER
*/

header{
    display: flex;
    justify-content: space-between;
}





/* 
MAIN
*/






/* 
FOOTER
*/






/* 
DEBUG
*/

.debug header{
    background-color: aquamarine;
}

.debug main > div{
    border: 2px dashed red;
}

.debug main div > section{
    border: 2px dashed green;
}

.debug footer{
    background-color: lightgreen;
}
